[Unit]
Description=D6T Temperature Sensor Service
After=network.target mongodb.service

[Service]
Type=simple
ExecStart=/usr/local/bin/d6t_sensor
Restart=always
RestartSec=3
User=root
Environment=LD_LIBRARY_PATH=/usr/local/lib
WorkingDirectory=/usr/local/bin

[Install]
WantedBy=multi-user.target